<div class="spaceship-card-border spaceship-card card bg-transparent">
  <%= link_to spaceship_path(spaceship), class:"card-link" do  %>
    <% if spaceship.photo.attached? %>
      <%= cl_image_tag spaceship.photo.key, class: "card-image", alt: "text"%>
    <% else %>
      <%= image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjYAMwk3TdZw2ihAa3UOjkv25yoZkTN5eDqA&usqp=CAU",
                    class:"card-image card-img-top p-1",
                    alt:"Default image, Spaceballs"
                    )  %>
    <% end %>
    <div class="card-body pb-0 px-0">
      <div class="container px-2 d-flex justify-content-between p-0">
        <%# <div class=""> %>
        <h5 class="lines"><%= spaceship.name %></h5>
        <h5 class="lines"><i class="fa-solid fa-dollar-sign"></i><%= spaceship.rate %></h5>
        <%# </div> %>
      </div>
      <div class="container px-1">
        <div class="d-flex justify-content-between p-1">
          <h5 class="lines limited"><%= spaceship.description %></h5>
        </div>
        <% if spaceship.description.length > 100 %>
          <div class="text-center mt-2">
            <button class="expand-btn btn btn-link">
              Read More
            </button>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
