<%= render "components/navbar" %>
<div id="border" class="ps-3 pt-3 mt-4 pb-4 text-info border border-info">
  <div class="container text-info">
    <div class = "container" >
      <h3 style="text-decoration: underline;" class="mb-0 text-capitalize"><%= @spaceship.name %></h3>
    </div>
    <div class="d-flex justify-content-between">
      <div id = "border" class="d-grid p-3 border border-info">
        <div class="border border-info mb-3"><%= cl_image_tag @spaceship.photo.key, height: 300, width: 400, crop: :fill %>
        </div>
        <div id ="border" class="d-flex flex-column bd-highlight mb-0 p-0 border border-info">
          <div class="p-2 bd-highlight">
            <h2> Shipment Information </h2>
            <p><%= @spaceship.description %></p>
          </div>
          <div class="p-2 bd-highlight">
            <p><%= "Your booking is #{@booking.start_date} until #{@booking.end_date}" %></p>
          </div>
          <div class="p-2 bd-highlight">
            <p><%= "The total price is: $ #{((@booking.end_date - @booking.start_date) * @spaceship.rate).to_i}" %></p>
          </div>
        </div>
      </div>
      <div id = "border" class="d-grid p-3 mx-4 border border-info">
      <div class="p-2 bd-highlight"> <h1> Order Confirmation </h1> </div>
        <div class = "container" >
          <h1> Order Confirmation </h1>
        </div>
      </div>
    </div>
    <div>
    </div>
    <%=link_to 'Cancel Booking', spaceship_booking_path(@booking), id: "button", data: { turbo_method: :destroy, turbo_confirm: 'Cancel Booking?' }, class: "btn btn-danger mx-0 mt-3 mb-3"%>
    <%= link_to 'home', spaceships_path, class: "btn btn-info mx-3", id: "button_" %>
  </div>
</div>
