<div class="ps-3 pt-3">
  <h1>Here's your booking</h1>
  <h3><%= @spaceship.name %></h3>
</div>
<div class="container">
  <div class="d-flex justify-content-between">
    <div class="d-flex pt-3 pb-3">
      <%= cl_image_tag @spaceship.photo.key, height: 300, width: 400, crop: :fill %>
      <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight">
          <p><%= @spaceship.description %></p>
        </div>
        <div class="p-2 bd-highlight">
          <p><%= "Your booking is #{@booking.start_date} until #{@booking.end_date}" %></p>
        </div>
        <div class="p-2 bd-highlight">
          <p><%= "The total price is: $ #{((@booking.end_date - @booking.start_date) * @spaceship.rate).to_i}" %></p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <%= link_to 'Cancel Booking', spaceship_booking_path(@booking), data: { turbo_method: :destroy, turbo_confirm: 'Cancel Booking?' }, class: "btn btn-danger"%>
    <%= link_to 'home', spaceships_path, class: "btn btn-success" %>
  </div>
</div>
