<div class="ps-3 pt-3 text-info">
  <h1>Here's your booking</h1>
  <h3><%= @spaceship.name %></h3>
</div>
<div class="container text-info">
  <div class="d-flex justify-content-between">
    <div class="d-flex pt-3 pb-3">
      <% if @spaceship.photo.attached? %>
        <%= cl_image_tag @spaceship.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <%= image_tag "https://lumiere-a.akamaihd.net/v1/images/Death-Star-I-copy_36ad2500.jpeg?region=0%2C31%2C1600%2C800", class: "card-img-top border border-info p-2", height: 200, width: 400 %>
        <%# <img width="400" class="card-img-top border border-info p-2" src="https://lumiere-a.akamaihd.net/v1/images/Death-Star-I-copy_36ad2500.jpeg?region=0%2C31%2C1600%2C800" alt="Card image cap"> %>
      <% end %>
      <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight">
          <p><%= @spaceship.description %></p>
        </div>
        <div class="p-2 bd-highlight">
          <p><%= "Your booking is #{@booking.start_date} until #{@booking.end_date}" %></p>
        </div>
        <div class="p-2 bd-highlight">
          <p><%= "The total price is: $ #{((@booking.end_date - @booking.start_date) * @spaceship.rate).to_i}" %></p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <%= link_to 'Cancel Booking', spaceship_booking_path(@booking), data: { turbo_method: :destroy, turbo_confirm: 'Cancel Booking?' }, class: "btn btn-danger"%>
    <%= link_to 'home', spaceships_path, class: "btn btn-info" %>
  </div>
</div>
