<h1>All ships go here</h1>
<% @spaceships.each do |ship| %>
  <%= image_tag ship.photo.attached? ? cl_image_path(ship.photo.key) : "https://www.freepnglogos.com/uploads/film-reel-png/film-reel-png-film-strip-border-transparent-film-strip-border-5.png", class: "image" %>
  <%= ship.name %>
  <%= ship.armaments %>
  <%= ship.description %>
<% end %>
<%= link_to "create new", new_spaceship_path %>
