<%= render "components/navbar" %>
<div class="container">
  <h1 class="text-info pt-4"><%= @spaceship.name %></h1>
  <div class="d-flex justify-content-between">
    <div id="border" class="border border-info d-flex pt-3 pb-3 ps-3 me-3">
      <% if @spaceship.photo.attached? %>
        <%= cl_image_tag @spaceship.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <%= image_tag "https://lumiere-a.akamaihd.net/v1/images/Death-Star-I-copy_36ad2500.jpeg?region=0%2C31%2C1600%2C800", class: "card-img-top border border-info p-2", height: 200, width: 400 %>
        <%# <img width="400" class="card-img-top border border-info p-2" src="https://lumiere-a.akamaihd.net/v1/images/Death-Star-I-copy_36ad2500.jpeg?region=0%2C31%2C1600%2C800" alt="Card image cap"> %>
      <% end %>
      <div class="ps-3">
        <%= @spaceship.description %>
        <div class="d-flex justify-content-evenly p-2">
          <div id ="border" class="fs-5 border border-info text-info px-4 py-2 m-1">
            Max weight<br>
            <i class="fa-solid fa-weight-scale"></i>
            <%= @spaceship.max_weight %>
            Ton
          </div>
          <div id ="border" class="fs-5 border border-info text-info px-4 py-2 m-1">
            Capacity<br>
            <i class="fa-solid fa-people-group"></i>
            <%= @spaceship.crew %>
            people
          </div>
          <div id ="border" class="fs-5 border border-info text-info px-4 py-2 m-1">
            Location<br>
            <i class="fa-solid fa-location-dot"></i>
            <%= @spaceship.location %>
          </div>
          <div id ="border" class="fs-5 border border-info text-info px-4 py-2 m-1">
            Price<br>
            $
            <%= @spaceship.rate %>
            / day
          </div>
        </div>
      </div>
    </div>
    <div class="text-info">
      <h3>Book now!</h3>
      <%= simple_form_for [@spaceship, @booking] do |f| %>
        <%= f.input :start_date, html5: true, input_html: { style: "margin-top: -30px;" } %>
        <%= f.input :end_date, html5: true, input_html: { style: "margin-top: -30px;" } %>
        <%= f.submit class: "btn btn-info", id: "button"%>
      <% end %>
    </div>
  </div>
</div>
</div>
<%# ボタンを作る ボタンの場所を動かしたい　ブートストラップ%>
<%# 予約用のフォームを作る AirBみたいなやつ　simple_form%>
<%# 背景画像が黒だから、文字色を変えたい > このファイルとSCSSを繋ぐ方法がわからない%>
<%# componentとHTMLに直書きするコードの違いがわからない
componentで再利用したいやつを個別HTMLに反映する方法がわからない %>
<%# _card.htmlファイルを書く > このファイルをindexに加える > Livecodeを参考にする %>
